<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bookings.css') }}">
</head>
<body>
    <div class="bookings-container">
        <h1>Bookings</h1>

       <div class="cards-container">
    {% for booking in bookings %}
        <div class="card">
            <div class="card-header">
                <h2>Booking ID: {{ booking.booking_id }}</h2>
            </div>
            <div class="card-body">
                <p><strong>Full Name:</strong> {{ booking.fullname }}</p>
                <p><strong>Booking Type:</strong> {{ booking.booking_type }}</p>
                <p><strong>Date of Booking:</strong> {{ booking.date_of_booking }}</p>
                <p><strong>Status:</strong> {{ booking.booking_status }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ url_for('views.booking_details', booking_id=booking.booking_id) }}" class="btn">Booking Details</a>
            </div>
        </div>
    {% endfor %}
</div>

    </div>
</body>
</html>
