<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <nav>
        <div class="logo">
            <img src="/static/assets/logo.png" alt="" width="50px">
            Maj Door-India
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="#">Support</a>
        </div>
    </nav>
    <div class="login">
        <div class="form">

            <!-- Login Form -->
            <form method="POST" action="{{ url_for('auth.login') }}">
                <div>
                    <h1>Login</h1>
                </div>
                {{ form.hidden_tag() }}
                <div>
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
                <div>
                    {{ form.password.label }}
                    {{ form.password }}
                </div>
                <div>
                    {{ form.submit }}
                </div>
                <p id="text">If not registered, <a href="/auth/register">Signup</a></p>
    
            </form>
            
            <a href=""><button><img src="/static/assets/google.png" width="40px" alt=""> SignUp using Google</button></a>
        </div>
        

        <!-- Illustration Section -->
        <div class="photo">
            <img src="/static/assets/login.png" alt="Login illustration" width="600px">
        </div>
    </div>
</body>

</html>
